.btn {
  color: #19191A;
  font-size: 1.3333rem;
  line-height: 1.25;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  overflow: visible;
  padding: .75em 2em .75em;
  background: #e3e7e8;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
.btn:active {
  top: 1px;
  background: #c8cbcc;
}
.btn[disabled] {
  opacity: .5;
}

.btn_rounded {
  border-radius: 3em;
}

.btn_primary {
  color: #fff;
  background: #2075a3;
}
.btn_primary:active {
  background: #2c96ce;
}
.btn_primary.btn_outlined {
  color: #2075a3;
  background: transparent;
  border: 1px solid #2075a3;
}

.btn_danger {
  color: #fff;
  background: #a82a28;
}
.btn_danger:active {
  background: #e34c41;
}

.btn_ghost {
  color: #2075a3;
  padding: .5em 1em;
  background: transparent;
}
.btn_ghost:active {
  color: #19191A;
  background: #e3e7e8;
}

.btn_width_full {
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.btn_size_small {
  font-size: 1rem;
}
