@import "../../styles/variables";

.canvas-column {
  //min-height: 20vh;
  padding: 1rem 20px 2rem;
  background: #fff;
  border-color: $color-gray8;
  border-style: solid;
  border-width: 0 1px 0 0;
  transition: background-color 250ms ease;
  cursor: text;
}
.canvas-column:hover {
  background: $color-gray0;
}

.canvas-column__title {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.15;
  margin: 0 0 .25em;
}
.canvas-column__hints {
  color: $color-gray3;
  font-size: 0.75rem;
  line-height: 1.25;
  margin-bottom: 1em;
}
.canvas-column__hints p {
  margin: 0 0 .25em;
}
.canvas-column__entries {
  min-height: 5rem;
}

// Read-only column doesn't highlight
.canvas-column_read-only,
.canvas-column_read-only:hover {
  cursor: inherit;
  background: #fff;
}

// Type of columns
.canvas-column_partners {
  //min-height: 40vh;
  grid-column: 1;
  grid-row: 1/3;
}
.canvas-column_activities {
  grid-column: 2;
  grid-row: 1;
}
.canvas-column_resources {
  grid-column: 2;
  grid-row: 2;
  border-width: 1px 1px 0 0;
}
.canvas-column_proposition {
  //min-height: 40vh;
  grid-column: 3;
  grid-row: 1/3;
}
.canvas-column_relationships {
  grid-column: 4;
  grid-row: 1;
}
.canvas-column_channels {
  grid-column: 4;
  grid-row: 2;
  border-width: 1px 1px 0 0;
}
.canvas-column_customers {
  //min-height: 40vh;
  grid-column: 5;
  grid-row: 1/3;
  border: 0;
}
.canvas-column_cost {
  grid-column: 1;
  grid-row: 3;
  width: 250%;
  padding-right: 25%;
  border-width: 1px 1px 0 0;
}
.canvas-column_revenue {
  grid-column: 1;
  grid-row: 3;
  width: 250%;
  margin-left: 250%;
  padding-right: 25%;
  border-width: 1px 0 0 0;
}
