.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modal__backdrop {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, .8);
}

.modal__container {
  position: relative;
  flex: 0 0 auto;
  width: 600px;
  padding: 30px;
  background: #fff;
  box-shadow: 0 1px 1px -1px rgba(90, 122, 190, .1),
              0 10px 20px 0 rgba(90, 122, 190, .2);
}
.modal__container_size_tiny {
  width: 400px;
}
.modal__container_size_small {
  width: 450px;
}
.modal__container_size_large {
  width: 800px;
}

.modal__title {
  text-align: center;
  font-size: 2.5rem;
  margin: 0 0 45px;
}
.modal__footer {
  text-align: center;
}

.modal__close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}
.modal__close .icon {
  width: 22px;
  height: 22px;
  fill: #c8cbcc;
  opacity: .5;
  transition: opacity 300ms ease;
}
.modal__close:hover .icon {
  opacity: 1;
}
.modal__close:active {
  margin-top: 1px;
}
