@import "../../styles/variables";

.canvas-title {
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
  // All space of left header half minus size of the dashboard button
  width: calc(100% - 60px);
  background: #fff;
  transition: background-color 250ms ease;

  &:after {
    content: '⮐';
    color: $color-gray3;
    font-size: 1rem;
    font-weight: normal;
    line-height: 60px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    opacity: 0;
    transition: opacity 100ms ease;
  }
  &:before {
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width: 60px;
    height: 100%;
    background: linear-gradient(to left, #fff, #fff 50%, rgba(#fff, 0));
    opacity: 1;
  }
}
.canvas-title:hover,
.canvas-title_focused {
  background: $color-gray0;
  outline: none;
}

.canvas-title__input {
  color: $color-black;
  display: block;
  width: 100%;
  overflow: hidden;
  border: 0;
  padding: 18px 20px;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.334;
  white-space: nowrap;
  background: transparent;

  &:focus {
    outline: none;
  }
}

.canvas-title_focused {
  &:before {
    opacity: 0;
  }
  &:after {
    opacity: 1;
  }
  .canvas-title__input {
    padding-right: 50px;
  }
}
.canvas-title_empty {
  &,
  & .canvas-title__input {
    color: #c8cbcc;
  }
}
.canvas-title_read-only,
.canvas-title_read-only:hover {
  background: #fff;
  cursor: default;
}
